<div class="fixed-action-btn" style=" position:fixed; bottom: 45px; right :25px;z-index: 3;">
<a class="btn-floating btn-lg rounded-circle" href="/stories/add" style="color: white; background-color: red;">
        <i class="fa fa-plus"></i>
    </a>
</div>