  <nav class="navbar fixed-top navbar-dark bg-dark" id="navbar">
    <div class="collapse navbar-collapse navbar-left" id="navbarNavAltMarkup" id="fire">
    <div class="navbar-nav">
      {{#if user}}
        <a class="nav-item nav-link" href="/auth/logout"><i class="fa fa-sign-out" style="color:grey"></i>Logout</a> 
      <a class="nav-item nav-link" href="/dashboard">DashBoard</a>
      <a class="nav-item nav-link" href="/stories/my">My Stories</a>
      {{else}}
        <a class="nav-item nav-link" href="/auth/google"><i class="fa fa-google"></i> Login with Google</a>
      {{/if}}
      <a class="nav-link mr-4" href="/stories"><i class="fa fa-book"> Read Stories</i><span class="sr-only">(current)</span></a>
    </div>
  </div>
    
     <a class="navbar-brand" href="#" id="title" style="color: white">StoryBooks</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation" id="toggle">
    <span class="navbar-toggler-icon"></span>
  </button>

  <ul class="ml-auto list-inline" id="web">
    {{#if user}}
      <li class="list-inline-item">
        <a class="nav-link mr-4" href="/stories" style="color: white" id="name2"><img src="{{user.image}}"
          style="height: 25px;border-radius: 50%" 
          > {{user.firstName}}<span class="sr-only">(current)</span></a>
      </li>
      {{else}}
        
      {{/if}}
     
      <li class="list-inline-item">
        {{#if user}}
        <a class="nav-item nav-link" href="/auth/logout" id="name3" style="color: white"><i class="fa fa-sign-out"></i>Logout <span class="sr-only">(current)</span></a> 
        {{/if}}
      </li>
    
    </ul>
  
  </nav>
