<h1>Welcome</h1>
<p>Welcome to StoryBooks 1.0</p>
<p>Write your stories from the best and worst experience of your life and
choose for them to be known to the world or your own personal diary</p><br><br>

{{#if user}}
{{else}}
<a href="/auth/google" class="btn btn-danger" style="background-color: red"><i class="fa fa-google-plus" style="font-size:24px"></i> <span style="font-size: 18px;"> Login with Google</span></a>
{{/if}}
